@inherits LayoutComponentBase
<body>
<header>
    <div>
        <h1>
            <a href="/">Advent of Code</a>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/Pathfinding">[Pathfinding]</a>
                </li>
                <li>
                    <a href="/l2">[Not implemented]</a>
                </li>
            </ul>

        </nav>
    </div>
    <div>
        <h1 class="sub-title">
            <span class="sub-title-wrap">{Visualizer}</span>
        </h1>
    </div>
</header>

<main>
    <article>
        @Body
    </article>
</main>
</body>